[Desktop Entry]
Type=Application
Name=A3Guard
Comment=Advanced Assessment and Monitoring Application
Icon=/usr/share/pixmaps/A3Guard.png
Exec=/usr/local/bin/a3guard
Terminal=false
Categories=Education;Utility;
