[Desktop Entry]
Type=Application
Name=A3Guard
Comment=Advanced Assessment and Monitoring Application
Icon=A3Guard
Exec=/usr/local/bin/a3guard
Terminal=false
Categories=Education;Utility;
